.header {
  background: white;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  justify-items: space-between;
  align-items: center;
  padding: 95px 50px 100px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}
.header__menu-list {
  list-style: none;
  display: flex;
  gap: 32px;
}
.header__link_active {
  text-decoration-line: none;
}
.circle {
  list-style: circle;
}
.header__logo {
  display: block;
  width: 129.11px;
  height: 104.65px;
  align-items: center;
}

.address {
  min-width: 240px;
  justify-self: end;
  align-items: center;
  text-decoration: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}
.underline_address {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-position: under;
}
.cover {
  background-image: url("/images/cover.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: -2;
  height: 757px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.overlay {
  position: absolute;
  background: #000000;
  opacity: 60%;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}
.cover__title {
  width: 1000px;
  height: 385px;
  margin: 155px 50px 106px;
}
.aligned-text {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #ffffff;
}

.aligned-text_center {
  text-align: center;
  padding-left: 20px;
}
.aligned-text_right {
  display: inline-flex;
  justify-content: end;
  padding-right: 0;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #ffffff;
  padding: 7.5px 50px 0 605px;
}
.no-letter-spacing {
  letter-spacing: 0;
}
.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 45px 55px;
}
.letter-spacing-extended {
  word-spacing: 20px;
}
.cover__description-text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  color: #ffffff;
}
.bet-button {
  color: #ffffff;
  border-color: #ffffff;
  background: transparent;
  padding: 12px 32px 11px 31px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}
.lots {
  padding: 175px 24px 95px;
}
.lots__heading {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
  color: #000000;
  padding-left: 40px;
  padding-bottom: 27px;
}
.lots__card-list {
  width: 100%;
  list-style: none;
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.lots__card-list-item {
  list-style: none;
  width: 334px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}
.card {
  position: relative;
  z-index: -1;
  width: 100%;
  height: 596px;
}
.card .overlay {
  z-index: 1;
}

.card-link {
  text-decoration: none;
}
.card__title {
  position: absolute;
  max-height: 110px;
  width: 254px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;

  color: rgba(255, 255, 255, 1);
  margin: 48px 40px 0;
}
.card__text {
  position: absolute;
  max-height: 360px;
  width: 254px;
  bottom: 48px;
  left: 40px;
  right: 40px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #ffffff;
}
.card_type_film {
  height: 100%;
}
.card_type_book {
  height: 100%;
}
.card_type_picture {
  height: 100%;
}
.lots__look-more-link {
  align-items: end;
  display: block;
  margin: 30px 0 0 40px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
}
.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  justify-items: center;
  align-items: start;
  padding-top: 55px;
  margin: 0 24px 180px;
  column-gap: 25px;
}

.about__logo {
  background-color: #000000;
  width: 240px;
  height: 240px;
  border-radius: 180px;
  display: flex;
  justify-content: center;
}
.about__logo-image {
  width: 148px;
  height: 114px;
  align-self: center;
}
.about__title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
  color: #000000;
  padding: 106px 0 100px;
}
.about__text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
.about__text_mini {
  padding: 0 5px 24px 0;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, auto);
  height: 180px;
  justify-content: space-between;
  align-content: start;
  padding: 0 50px;
}
.footer .address {
  width: 264.57px;
  height: 98px;
  justify-self: end;
  align-items: center;
  text-decoration: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  margin-right: 154.03px;
}
.footer__menu-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__link_active {
  text-decoration-line: none;
}
.footer__menu-link {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #000000;
}

.footer__social-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 48px;
  margin-left: 177.5px;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
